@media(max-width: 920px) {
    .right-header-main.clearfix {
        position: static;
        width: 100%;
        margin: 0;
        float: none;
        max-width: 100%;
        max-height: 56px;
    }
    #menu:after{
        border: none;
    }
    #menu{
        float: none;
        text-align: center;
    }
}

@media(max-width: 767px) {
    .product_list_widget li, .recent-posts{
        width: 48%;
        display: inline-block;
        vertical-align: top;
        float: none;
    }

    #primary{
        width: 100%;
    }

    .search-form, #secondary{
        display: none;
    }

    .columns-4 .top-footer-block{
        width: 48%;
    }

    #toggle {
        float: right;
        width: 28px;
        height: 22px;
        display: inline-block;
        margin: 10px 10px;
        cursor: pointer;
    }

    #toggle div {
        width: 100%;
        height: 3px;
        background: #ffffff;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    #toggle.on .one {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #toggle.on .two {
        opacity: 0;
    }

    #toggle.on .three {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    .right-header-main.clearfix {
        position: static;
        width: 100%;
        margin: 0;
        float: none;
        max-width: 100%;
        max-height: 46px;
    }

    .right-header {
        width: 100%;
        margin: 0px;
        text-align: center;
        padding-left: 0px;
        background: #313131;
        z-index: 9;
    }

    #menu {
        position: static;
        color: white;
        padding: 0;
        text-align: left;
        margin: auto;
        display: none;
        border-top: 1px solid rgb(226, 69, 69);
        float: none;
    }

    #site-navigation > .store-menu > ul > li {
        float: none;
        display: block;
        border-bottom: 1px solid #ccc;
    }

    #site-navigation{
        width: 100%;
        padding: 0px 15px;
    }

    .main-navigation ul ul {
        position: static;
        margin: 0px;
        display: block;
        opacity: 1;
        visibility: visible;
        background: transparent;
        padding-left: 15px;
        text-align: left;
        box-shadow: none;
    }

    .main-navigation ul ul li a{
        background: none;
        border-bottom: 1px solid #ccc;
    }

    #site-navigation .menu > li li a::before {
        content: "\f178";
        font-family: fontawesome;
        left: 10px;
        position: absolute;
    }

    #site-navigation .menu>li li a{
        padding-left: 30px;
    }

    #site-navigation .menu>li li a:hover{
        color: #e24545;
    }

    .main-navigation ul.menu > li:hover > ul{
        background: none;
        width: 100%;
        
    }

    .main-navigation ul ul li:hover > a{
        background: none;
        color:#e24545;
    }

    .main-navigation ul.menu > li.menu-item-has-children::after{
        border-top: none;
    }

    #site-navigation .menu>li>a{
        padding: 5px 15px;
    }

    .content-inner{
        padding: 30px 10px;
    }

    .less-padding{
        width: 50%;
    }

}

@media(max-width: 580px) {
    .product_list_widget li, .recent-posts, .product-left-column aside, .promo-product2 aside, .columns-4 .top-footer-block, #primary{
        width: 100%;
    }

    .product-left-column aside, .recent-posts{
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 20px;
    }

    .top-footer-block, .smw_left, .banner-text{
        text-align: center;
    }

    .top-footer-block{
        padding: 0px 10%;
    }

    .widget.widget_accesspress_store_icon_text{
        padding-bottom: 30px;
    }

    .widget.widget_accesspress_store_icon_text:last-child{
        padding-bottom: 0px;
    }

    .recent-posts img{
        width: 100%;
        max-height: 210px;
        object-fit: cover;
    }

    .site-logo{
        left: 0px;
        top: 0px;
        position: relative;
    }
    .site-logo img {
        height: 90px;
    }

    .site-header{
        text-align: center;
    }

    .top-header{
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 0px;
    }

    #site-branding{
        display: none;
    }

    #secondary{
        display: none;
    }

    .nav-tabs>li{
        width: 100%;
    }

    .nav-tabs>li>a{
        border-radius: 0px;
    }

    .less-padding{
        width: 100%;
    }

}


